VITE_FIREBASE_API_KEY= AIzaSyDuz8EZSHqrJ94w5-W76zjF4or3SIkgSGk
VITE_FIREBASE_AUTH_DOMAIN= trip-planner-c4e22.firebaseapp.com 
VITE_FIREBASE_PROJECT_ID= trip-planner-c4e22 
VITE_FIREBASE_STORAGE_BUCKET= trip-planner-c4e22.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=198846669316
VITE_FIREBASE_APP_ID= 1:198846669316:web:6ecba780a19e7761034b51
